@import './base.css';

#app {
	width: 100vw;
	margin: 0 auto;

	font-weight: normal;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.no-select {
	user-select: none;
}

.p-toast {
	max-width: calc(100vw - 40px);
}

.pointer {
	cursor: pointer;
}
