[Unit]
Description=Go-OpenBmclAPI Service
Documentation=https://github.com/LiterMC/go-openbmclapi
Wants=basic.target
After=network.target

[Service]
Type=simple
User=openbmclapi
WorkingDirectory=/opt/openbmclapi
ExecStart=/opt/openbmclapi/service-linux-go-openbmclapi
ExecReload=kill -s HUP $MAINPID
RestartSec=30
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=multi-user.target
