{{ define "syncbegin" }}
<h1>Go-OpenBMCLAPI Cluster File Synchronize Begin</h1>
<p>
	<b>At:</b>&nbsp;<i>{{ .At }}</i>
</p>
<p>
	<b>Count:</b>&nbsp;<i>{{ .Count }}</i>
</p>
<p>
	<b>Size:</b>&nbsp;<i>{{ .Size }}</i> Bytes
</p>
{{ end }}
